<div *ngIf="user$ | async as user; else loading" class="user-card">
  <div class="card-header">
    <h2>{{ user.prenom }} {{ user.nom }}</h2>
  </div>

  <div class="card-possessions">
    <h3>Possessions</h3>
    <div *ngIf="user.possessions?.length; else noPossessions" class="possessions-grid">
      <div *ngFor="let p of user.possessions" class="possession-card">
        <strong>{{ p.nom }}</strong>
        <p *ngIf="p.type">Type : {{ p.type }}</p>
        <p *ngIf="p.valeur">Valeur : {{ p.valeur | currency:'USD':'symbol' }}</p>
      </div>
    </div>
    <ng-template #noPossessions>
      <p>Pas de possessions.</p>
    </ng-template>
  </div>
</div>

<ng-template #loading>
  <p>Chargement...</p>
</ng-template>
